body{
    font-family: Arial, sans-serif;
}
#heading{
    text-align: center;
}

form{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(220, 238, 237);
    
}
.form-box{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh; 
}
.image-container {
    display: flex;
    justify-content: space-between;
}
.image-container div {
    flex: 1;
    margin: 5px;
}
.image-container img {
    width: 50%;
    height: auto;
}
table{
    
    padding: 10px;
    
}

input{
    border-radius: 50% black;
}

table td{
    padding: 5px;
    padding-bottom: 15px;

}

#fname,#lname,#mname{
    border-radius: 4px;
}
#submit{
    width: 70px;
    height: 25px;
    background-color: aqua;
    border-radius: 3px;
    
}
