
#heading{
    text-align: center;
}

form{
    align-content: center;
   
    
}

table{
    
    border: 10px black;
    background-color: antiquewhite;
    padding: 10px;

}

table tr{
    
}

table td{
    padding: 3px;

}