body{
    font-family: Arial, sans-serif;
}
#heading{
    text-align: center;
}

form{
    align-content: center;
   
    
}

table{
    
    
    background-color: rgb(220, 238, 237);
    padding: 10px;
    

}

input{
    border-radius: 50% black;
}

table td{
    padding: 5px;
    padding-bottom: 15px;

}

#fname,#lname,#mname{
    border-radius: 4px;
}
#submit{
    width: 70px;
    height: 25px;
    background-color: aqua;
    border-radius: 3px;
    
}
