################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.user
*.suo

/CSharp/ConsoleApp3/.vs/ConsoleApp3


React/Learn/chrome-extension-host
