body{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    color: blue;

}

table{
    background-color: #ABCCDD;
    width: 90%;
    height: auto;
    margin-top: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; 

}

td,tr{
    border: 1px solid rgb(160, 160, 160);;
  
    
}

img{
    height: 120px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border : 2px solid blue;

}