<form method="post" action="/Account/Register">
    <input type="text" name="firstName" placeholder="First Name" required minlength="3" />
    <input type="text" name="lastName" placeholder="Last Name" required minlength="3" />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required minlength="6" />
    <button type="submit">Register</button>
</form>
