body {
    font-family: Arial, sans-serif;
}

.job-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.job {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 30%;
    cursor: pointer;
    box-sizing: border-box;
}

.job img {
    max-width: 100%;
    height: auto;
}

.job h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.job p {
    font-size: 1.2em;
    margin: 10px 0;
}

.job button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.job button:hover {
    background-color: #45a049;
}