@{
	ViewData["Title"] = "Hello Page";
	int number = 8;
	string name = "Jaydip";


}

<h1>Hello @name, Welcome to ASP.NET Core!, currently using @number Verison</h1>
<p>The current date and time is: @DateTime.Now</p>