@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Product Form Page";
}

<h2>Fill the form</h2>
<form method="post">

	<table>
		<tr>
			<td> <label for="fname">First Name:</label> </td>
			<td> <input type="text" name="fname" id="fname" required /> </td>
		</tr>

		<tr>
			<td> <label for="lname">Last Name:</label> </td>
			<td> <input type="text" name="lname" id="lname" required /> </td>
		</tr>

		<tr>
			<td> <label for="fname">First Name:</label> </td>
			<td> <input type="text" name="fname" id="fname" required /> </td>
		</tr>

		<tr>
			<td> <label for="lname">Last Name:</label> </td>
			<td> <input type="text" name="lname" id="lname" required /> </td>
		</tr>


		<tr>
			<td>
				<button type="submit">Submit</button>
			</td>
		</tr>
	</table>
	
	

</form>

@if (!string.IsNullOrEmpty(ViewData["Message"] as string))
{
	<p><strong>Message:</strong> @ViewData["Message"]</p>
}
