@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Product Form Page";
}
@model UserModel

<h2>Fill the form</h2>
<form method="post">

	<table>
		<tr>
			<td> <label for="fname">First Name:</label> </td>
			<td> <input type="text" asp-for="Fname" required /> </td>
		</tr>

		<tr>
			<td> <label for="lname">Last Name:</label> </td>
			<td> <input type="text" asp-for="Lname" required /> </td>
		</tr>

		<tr>
			<td>
				<button type="submit">Submit</button>
			</td>
		</tr>
	</table>
	
	

</form>

@if (Model != null)
{
	<p><strong>Your name is  @Model.Fname @Model.Lname </strong></p>
}
