@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inactive Users</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="ReactivateUser" asp-route-id="@user.Id" class="btn btn-success">Reactivate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
