<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="StudentList">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Manage Users</a>
        </li>
        <li class="nav-item">
            <span class="nav-link text-light">Welcome, Admin</span>
        </li>
    </ul>
</div>